nav ul {
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 0.5em;
}

nav ul li a,
nav ul li a:visited {
  color: grey !important;
  text-decoration: underline !important;
}

nav ul li a:hover {
  color: grey !important;
  text-decoration: underline !important;
}
